.ux-notification-window .x-window-body {
	text-align: center;
	padding: 15px 5px 15px 5px;
	width: 200px;
}

.ux-notification-icon-information {
	background-image: url('../images/icon16_info.png');
}

.ux-notification-icon-error {
	background-image: url('../images/icon16_error.png');
}

/*
If you wish to style the notifications as in the Demo 2 below then download the fader.png and add the following css to your page:
.ux-notification-light .x-window-header {
	background-color: transparent;
}

body .ux-notification-light {
	background-color: white;
	background-image: url('../images/fader.png');
}

.ux-notification-light .x-window-body {
	text-align: center;
	padding: 15px 5px 18px 5px;
	width: 200px;
	background-color: transparent;
	border: 0px solid white;
}
				
Then set the cls property to 'ux-notification-light'. Note that this styling differs a bit between new browsers and >=IE8.
*/