.appHeader .x-panel-body {
	background-color: transparent;
	background-image: url(../images/windup_key.png);
	background-repeat: no-repeat;
	background-position: 2px 2px;
	padding: 1px 0px 0px 30px;
	border: none;
	color: navy;
	font-size: 22px;
	font-weight: 200;
	//text-shadow: 0 1px 0 #fff;
	white-space: nowrap;
}

.userName {
	font-size: 12px; 
	font-weight: bold;
	color: navy;
	text-align: right;
	padding-right: 5px;
}

.icon-user-add {
	background-image: url(../images/user_add.png) !important;
}

.icon-user-edit {
	background-image: url(../images/user_edit.png) !important;
}

.icon-user-delete {
	background-image: url(../images/user_delete.png) !important;
}

.icon-users {
	background-image: url(../images/users.png) !important;
}

.icon-gear {
	background-image: url(../images/gear.png) !important;
}

.icon-administration {
	background-image: url(../images/administration.png) !important;
}

.icon-business {
	background-image: url(../images/business.png) !important;
}

.icon-save {
	background-image: url(../images/save.png) !important;
}

.icon-cancel {
	background-image: url(../images/cancel.png) !important;
}

.icon-logout {
	background-image: url(../images/logout.png) !important;
}

.icon-login {
	background-image: url(../images/login.png) !important;
}

.icon-start {
	background-image: url(../images/start.png) !important;
}

.icon-stop {
	background-image: url(../images/stop.png) !important;
}

.icon-excel {
	background-image: url(../images/excel.gif) !important;
}
