.appHeader .x-panel-body {
	background-color: transparent;
	background-image: url(windup_key.png);
	background-repeat: no-repeat;
	background-position: 2px 2px;
	padding: 1px 0px 0px 30px;
	border: none;
	color: navy;
	font-size: 22px;
	font-weight: 200;
	text-shadow: 0 1px 0 #fff;
	white-space: nowrap;
}

.icon-user-add {
	background-image: url(user_add.png) !important;
}

.icon-user-edit {
	background-image: url(user_edit.png) !important;
}

.icon-user-delete {
	background-image: url(user_delete.png) !important;
}

.icon-users {
	background-image: url(users.png) !important;
}

.icon-gear {
	background-image: url(gear.png) !important;
}

.icon-administration {
	background-image: url(administration.png) !important;
}

.icon-business {
	background-image: url(business.png) !important;
}

.icon-save {
	background-image: url(save.png) !important;
}

.icon-cancel {
	background-image: url(cancel.png) !important;
}

.icon-logout {
	background-image: url(logout.png) !important;
}

.icon-login {
	background-image: url(login.png) !important;
}

.icon-start {
	background-image: url(start.png) !important;
}

.icon-stop {
	background-image: url(stop.png) !important;
}

.icon-excel {
	background-image: url(excel.gif) !important;
}

/* Notification */
.x-icon-error {
	background-image: url(exclamation.gif) !important;
}

.x-icon-information {
	background-image: url(information.gif) !important;
}

.x-notification .x-window-body {
	margin: 0;
	padding: 1em !important;
	width: auto !important;
}

/* ClearButton */
.ext-ux-clearbutton {
	width: 12px;
	height: 12px;
	background-image: url(clear-text-icon.gif);
	background-position: 0 0;
	background-repeat: no-repeat;
	-moz-user-focus: ignore; /* https://developer.mozilla.org/en/CSS/-moz-user-focus */
	cursor: pointer;
	position: absolute;
	overflow: hidden; /* IE 6 :-( */
	margin-top: 4px;
	background-color: white;
}

.ext-ux-clearbutton-mouse-over-input {
	background-position: 0 -12px;
}

.ext-ux-clearbutton-mouse-over-button {
	background-position: 0 -24px;
}

.ext-ux-clearbutton-mouse-down {
	background-position: 0 -36px;
}

.ext-ux-clearbutton-on {
	opacity: 1;
	visibility: visible;
	transition: opacity .35s linear;
	-webkit-transition: opacity .35s linear;
	-moz-transition: opacity .35s linear;
	-o-transition: opacity .35s linear;
	-ms-transition: opacity .35s linear;
	-khtml-transition: opacity .35s linear;
}

.ext-ux-clearbutton-off {
	opacity: 0;
	visibility: hidden;
	transition: opacity .35s linear, visibility .0s linear .35s;
	-webkit-transition: opacity .35s linear, visibility .0s linear .35s;
	-moz-transition: opacity .35s linear, visibility .0s linear .35s;
	-o-transition: opacity .35s linear, visibility .0s linear .35s;
	-ms-transition: opacity .35s linear, visibility .0s linear .35s;
	-khtml-transition: opacity .35s linear, visibility .0s linear .35s;
}