name: test

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Java 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'      
        java-version: 17
    - name: Build with Java 17
      run: ./mvnw -B clean test --file pom.xml    
    - name: Set up Java 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 21
    - name: Build with Java 21
      run: ./mvnw -B clean test --file pom.xml
