name: test

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Java 17
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'      
        java-version: 17
    - name: Build with Java 17
      run: ./mvnw -B clean test --file pom.xml    
    - name: Set up Java 19
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 19
    - name: Build with Java 19
      run: ./mvnw -B clean test --file pom.xml
    - name: Deploy to Sonatype
      run: ./mvnw -B -Drepo.username=${{secrets.SONATYPE_USERNAME}} -Drepo.password=${{secrets.SONATYPE_PASSWORD}} clean deploy -DskipTests=true --settings mySettings.xml
